* {                         
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    scroll-behavior: smooth;    
}

/* ---------------------------- Header -----------------------------------*/

header {
    z-index: 1;
    position: absolute;
    top: 0;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
}

/* ---------------------------- Nav Bar -----------------------------------*/

.menu-button {
    visibility: hidden;
}

nav ul {
    visibility: visible;
    padding-top: 10px;
    float: right;
}

li {
    list-style-type: none;
    display: inline-block;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 12px 25px;
    text-decoration: none;
    text-transform: uppercase;
}

li a:hover {
    transition: 0.2s;
    border-radius: 10px;
    transform: scale(1.2);
    z-index: 3;
}

/* ---------------------------- Home -----------------------------------*/

#home {
    padding: 200px 0 0 70px;
    color: white;
    text-transform: initial;
    background: url(../img/BackgroundFood.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

#home h1 {
    letter-spacing: 5px;
    display: inline-block;
    border-bottom: 2px solid #fb8500;
    position: relative;
    padding-bottom: 5px;
    border-radius: 10px;
    animation: slideIn 3s ease;
}

#home h5, p{
    position: relative;
    animation: slideIn 3s ease;
    padding-bottom: 5px;
}

#home span {
    color:#fb8500;
    font-weight: bold;
}

#click-btn {
    font-size: 1em;
    text-transform: initial;
    height: 50px;
    width: 150px;
    border: 1px solid white;  
    border-radius: 10px; 
    cursor: pointer;
}

#click-btn:hover {
    background-color: #fb8500;
    color: white;
    transform: scale(1.1);
    transition: 0.2s;
}

/* ----------------------------------About Us----------------------------------------- */

#aboutUs h1 {
    color: black;
    margin-top: 40px;
    letter-spacing: 5px;
    font-size: 3em;
    justify-content: center;
    text-align: center;
}

/* ----------------------------------About us Main Card-------------------------------- */

.aboutUs-main-card-container {
    padding-bottom: 25px;
    display: grid;
    grid-template-columns: repeat(2 , auto); 
    justify-content: center;
}

.main-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    margin: 10px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border-radius: 5px;
}

.main-card img {
    min-width: 250px;
    max-width: 250px;
    min-height: 350px;
    max-height: 350px;
    border-radius: 10px;
}

.main-card h2 {
    font-size: 18px;
}

/* ----------------------------------About us Sub Card-----------------------------=----- */

.aboutUs-sub-card-container {
    display: grid;
    grid-template-columns: repeat(6 , auto);    
    justify-content: center;
}

.sub-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    margin: 10px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border-radius: 5px;
}

.sub-card img {
    min-width: 150px;
    max-width: 150px;
    height: 150px;
    border-radius: 4px;
}

.sub-card h2 {
    font-size: 18px;
}

.main-card:hover {
    animation: 0.8s;
    transform: scale(1.05);
}

.sub-card:hover {
    animation: 0.8s;
    transform: scale(1.05);
}

/* ----------------------------Slide-in Animation-----------------------------------*/

/* h1 and p animation */

@keyframes slideIn {
    from {left: 50px;}
    to {left: 0px;}
}