@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500&display=swap');
* {                         
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lora', sans-serif, serif;
}

body {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

/* ---------------------------- Header -----------------------------------*/

header {
    transition: 0.3s;
    z-index: 10;
    top: 0;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    position: sticky;
    background-color: #F1F1F1;
}

#link-logo {
    font-size: 18px;
    text-decoration: none;
    color: white;
    right: 15px;
    position: absolute;
}

#link-logo:hover {
    color: #2b2828;
}

/* ---------------------------- Nav Bar -----------------------------------*/

#logo-name {
    position: absolute;
    font-size: 25px;
}

.closebtn {
    display: none;
}

.menu-button {
    visibility: hidden;
}

nav ul {
    visibility: visible;
    padding-top: 10px;
    float: right;
}

li {
    list-style-type: none;
    display: inline-block;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 12px 25px;
    text-decoration: none;
    text-transform: uppercase;
}

li a span {
    font-size: 35px;
    color: #0056b3;
}

li a:hover {
    transition: 0.2s;
    border-radius: 10px;
    transform: scale(1.2);
    z-index: 3;
}

/* ---------------------------- Home -----------------------------------*/

#home {
    padding: 200px 50px 0 50px;
    color: white;
    background: url(../img/background2-PhotoRoom.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    position: relative;
    z-index: -1;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.6);
        z-index: -2;
    }
}

#home h1 {
    text-align: center;
    padding-bottom: 5px;
    border-radius: 10px;
}

#home h5, p {
    text-align: center;
    padding-bottom: 5px;
    margin-top: 0;
    margin-bottom: 1rem;    
    letter-spacing: 1px;
}


.center-container {
    text-align: center;
}

.click-btn {
    color: white;
    font-size: 1em;
    height: 50px;
    width: 150px;
    border: 1px solid rgba(0, 0, 0, 0.6);  
    border-radius: 10px; 
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.6);
    transition: 0.2s;
}

.click-btn:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.2s;
}

/* ----------------------------------About Us----------------------------------------- */

#aboutUs h1 {
    color: black;
    margin-top: 100px;
    letter-spacing: 5px;
    font-size: 3em;
    justify-content: center;
    text-align: center;
}

.aboutUs-container {
    background-color: #F1F1F1;
}

/* ----------------------------------About us Main Card-------------------------------- */

.aboutUs-main-card-container {
    display: flex;
}

/* Swiper JS  */

swiper-container {
    width: 100%;
}

swiper-slide {
    max-width: 270px;
}

.main-card {
    margin: 10px;
    padding: 20px;
    text-align: center;
}

.main-card:hover{
    cursor: pointer;
}

.main-card img {
    min-width: 125px;
    max-width: 125px;
    min-height: 125px;
    max-height: 125px;
    border-radius: 100px;
}

.main-card h6 {
    padding-top: 25px;
    font-size: 18px;
}

/* ---------------------------------- Services ----------------------------------------- */

#service h1 {
    color: black;
    margin-top: 40px;
    letter-spacing: 5px;
    font-size: 3em;
    justify-content: center;
    text-align: center;
}

.service-container {
    margin: 50px;
}

.service-card-container {
    padding-bottom: 25px;
    display: grid;
    grid-template-columns: repeat(3 , auto); 
    justify-content: center;
}

.service-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    margin: 10px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.service-card img {
    min-width: 250px;
    max-width: 250px;
    min-height: 350px;
    max-height: 350px;
    border-radius: 10px;
}

.service-card:hover {
    animation: 0.8s;
    transform: scale(1.05);
}

/* ---------------------------------- FAQ ----------------------------------------- */

.faq-container {
    padding-top: 15px;
    max-width: 100%;
    height: auto;
    margin: 65px;
}

.faq-container h1 {
    text-align: center;
    text-transform: capitalize;
}

.accordion {
    border-radius: 5px;
    margin: 2px;
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.active, .accordion:hover {
    background-color: #ccc;
}

.accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

.panel {
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

/* ---------------------------------- Contact Us ----------------------------------------- */

#contact h1 {
    color: black;
    margin-top: 40px;
    letter-spacing: 5px;
    font-size: 3em;
    justify-content: center;
    text-align: center;
}

body, h1, p, input, textarea, form {
    margin: 0;
    padding: 0;
}

#form {
    max-width: 600px;
    margin: 45px auto;
    padding: 20px   ;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
    margin-top: 10px;
    color: #555;
}

input[type="text"], textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

textarea {
    resize: vertical;
    min-height: 100px;
}

input[type="button"] {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

/* ---------------------------- Footer -----------------------------------*/

footer {
    font-size: 16px;
    padding-top: 50px;
    margin-top: 10px;
    text-align: center;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 125px;
    background: #F1F1F1;
    color: black;
}

/* ---------------------------- Responsive Arrorw-up --------------------------*/

.back-to-Top {
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    border-radius: 10px;
    background-color: #0056b3;
    display: none;
    cursor: pointer;
    z-index: 99;
    text-align: center;
    line-height: 45px;
}

.back-to-Top.shown {
    display: block;
    visibility: visible;
    transform: none;
}

.back-to-Top img {
    width: 25px;
    height: 25px;
    vertical-align: middle;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}