@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500&display=swap');

* {                         
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lora', sans-serif, serif;
}

body {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

/* ---------------------------- Header -----------------------------------*/

header {
    transition: 0.3s;
    z-index: 10;
    top: 0;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    height: fit-content;
    position: sticky;
    background-color: #F1F1F1;
}

/* ---------------------------- Nav Bar -----------------------------------*/

#logo-name {
    position: absolute;
    font-size: 25px;
}

.closebtn {
    display: none;
}

.menu-button {
    visibility: hidden;
}

nav ul {
    visibility: visible;
    padding-top: 10px;
    float: right;
}

li {
    list-style-type: none;
    display: inline-flex;
}

header li a {
    display: block;
    color: black;
    text-align: center;
    padding: 12px 25px;
    text-decoration: none;
    text-transform: uppercase;
}

header li a::after {
    content: '';
    display: block;
    height: 0.4em;
    width: 0%;
    bottom: 1px;
    border-bottom: 2px solid transparent;
    transition: all ease-in-out 250ms;
    
}

#nav-ul li a:hover::after {
    border-bottom: 2px solid #0056b3;
    width: 100%;
}

li a span {
    font-size: 35px;
    color: #0056b3;
}

header li a:hover {
    transition: 0.2s;
    border-radius: 10px;
    transform: scale(1.2);
    z-index: 3;
}

/* ---------------------------- Home -----------------------------------*/

#home {
    padding: 200px 50px 0 50px;
    color: white;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/background2-PhotoRoom.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    z-index: -1;
}

#home h1 {
    text-align: center;
    padding-bottom: 5px;
    border-radius: 10px;
}

#home h5, p {
    text-align: center;
    padding-bottom: 5px;
    margin-top: 0;
    margin-bottom: 1rem;    
    letter-spacing: 1px;
}


.center-container {
    text-align: center;
}

.click-btn {
    color: white;
    font-size: 1em;
    height: 50px;
    width: 150px;
    border: 1px solid rgba(0, 0, 0, 0.6);  
    border-radius: 10px; 
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.6);
    transition: 0.2s;
}

.click-btn:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.2s;
}

/* ----------------------------------About Us----------------------------------------- */

#aboutUs h1 {
    color: black;
    margin-top: 100px;
    letter-spacing: 5px;
    font-size: 3em;
    justify-content: center;
    text-align: center;
}

.aboutUs-container {
    background-color: #F1F1F1;
}

/* ----------------------------------About us Main Card-------------------------------- */

.aboutUs-main-card-container {
    display: flex;
}

/* Swiper JS  */

swiper-container {
    width: 100%;
}

swiper-slide {
    max-width: 270px;
}

.main-card {
    margin: 10px;
    padding: 20px;
    text-align: center;
}

.main-card:hover{
    cursor: pointer;
}

.main-card img {
    min-width: 125px;
    max-width: 125px;
    min-height: 125px;
    max-height: 125px;
    border-radius: 100px;
}

.main-card h6 {
    padding-top: 25px;
    font-size: 18px;
}

/* ---------------------------------- Services ----------------------------------------- */

#service h1 {
    color: black;
    margin-top: 40px;
    letter-spacing: 5px;
    font-size: 3em;
    justify-content: center;
    text-align: center;
}

.service-container {
    margin: 50px;
}

.service-card-container {
    padding-bottom: 25px;
    display: grid;
    grid-template-columns: repeat(3 , auto); 
    justify-content: center;
}

.service-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    margin: 10px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.service-card img {
    min-width: 250px;
    max-width: 250px;
    min-height: 350px;
    max-height: 350px;
    border-radius: 10px;
}

.service-card:hover {
    animation: 0.8s;
    transform: scale(1.05);
}

/* ---------------------------------- FAQ ----------------------------------------- */

.faq-container {
    padding-top: 15px;
    max-width: 100%;
    height: auto;
    margin: 65px;
}

.faq-container h1 {
    text-align: center;
    text-transform: uppercase;
}

.selection-card-container {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 50px;
}

.accordion {
    border-radius: 5px;
    margin: 2px;
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.active, .accordion:hover {
    background-color: #ccc;
}

.accordion:after { 
    content: '\2B9D';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2B9F";
}

.panel {
    border-radius: 10px;
    background-color: #E7F0FE;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

/* ---------------------------------- Contact Us ----------------------------------------- */

#contact h1 {
    color: black;
    margin-top: 40px;
    letter-spacing: 5px;
    font-size: 3em;
    justify-content: center;
    text-align: center;
}

body, h1, p, input, textarea, form {
    margin: 0;
    padding: 0;
}

#form {
    max-width: 600px;
    margin: 45px auto;
    padding: 20px   ;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
    margin-top: 10px;
    color: #555;
}

input[type="text"], textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

textarea {
    resize: vertical;
    min-height: 100px;
}

input[type="button"] {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

/* ---------------------------- Footer -----------------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

.footer {
    border-radius: 10px 10px 10px 10px;
	background-color: #f1f1f1;
	padding: 50px 0 0 0;
}

.container {
	max-width: 100%;
	margin: auto;
}

.row {
	display: flex;
	flex-wrap: wrap;
}

.footer ul {
	list-style: none;
}

.footer-col {
	width: 25%;
	padding: 0 15px;
}

.footer-col h4 {
	font-size: 18px;
	color: #151515;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}

.footer-col h4::before {
	content: "";
	position: absolute;
	left: 0;
	bottom: -10px;
	background-color: #007bff;
	width: 50px;
	height: 2px;
}

.footer-col ul li:not(:last-child) {
	margin-bottom: 10px;
}

.footer li {
    display: block;
}

.footer-col ul li a {
    display: block;
	color: #151515;
	display: block;
	font-size: 1rem;
	font-weight: 300;
	text-transform: capitalize;
	text-decoration: none;
	transition: all 0.3s ease;
}

.footer-col ul li a:hover {
	color: #151515;
	padding-left: 7px;
}

.footer-col .social-links a {
	color: #151515;
	background-color: rgba(32, 30, 30, 0.2);
	display: inline-block;
	height: 40px;
	width: 40px;
	border-radius: 50%;
	text-align: center;
	margin: 0 10px 10px 0;
	line-height: 40px;
	transition: all 0.5s ease;
}

/* Link Hover Social Media Account */

.footer-col .social-links a:hover {
	color: #151515;
	background-color: #007bff;
}

/* ---------------------------- Responsive Arrorw-up --------------------------*/

.back-to-Top {
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    border-radius: 100%;
    background-color: #007bff;
    display: none;
    cursor: pointer;
    z-index: 99;
    text-align: center;
    line-height: 45px;
    animation: pulse 2s infinite;
}

.back-to-Top.shown {
    display: block;
    visibility: visible;
    transform: none;
}

.back-to-Top img {
    color: black;
    width: 25px;
    height: 25px;
    vertical-align: middle;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

@keyframes pulse {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 #007bff;
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 #007bff;
	}
}