/* ----------------------------------For Mobile Phone----------------------------------------- */
@media (max-width: 740px) {
    
    /* ---------------------------- Responsive Navbar --------------------------*/

    header {
        background-color: #343a40;
        border-radius: 0 0 15px 15px;
    }

    #home {
        min-height: 100vh;
    }

    #click-btn {
        margin-bottom: 25px;
    }

    .menu-button {
        margin-top: 3px;
        float: right;
        background: none;
        visibility: visible;
        border: none;
        color: white;
        font-size: 25px;
        cursor: pointer;
        padding: auto 50 50 10;
        margin-right: 12px;
    }

    #nav-ul.show {
        display: block;
        color: white;
        text-align: center;
        padding: 12px 25px;
        text-decoration: none;
        text-transform: uppercase;
    }

    #toggle-menu.active {
        display: block;
    }

    nav ul{
        background-color: #343a40;
        float: none;
    }

    ul {
        display: none;
    }
    
    li { 
        list-style-type: none;
        display: block;
    }

    /*---------------------------------------- Home ----------------------------------------------------------- */
    
    .mHome {
        margin-top: 35px;
    }

    #home {
        padding: 85px 0 0 10px;
        background: url(../img/phoneBackgroundFoodX.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

/* -----------------------------------About us Main/Sub Cards---------------------------------------------------- */
    img {
        border-radius: 3px;
    }

    .main-card {
        padding: 10px;
    }

    .main-card img {
        min-width: 150px;
        max-width: 150px;
        min-height: 200px;
        max-height: 200px;
    }
    
    .aboutUs-sub-card-container {
        grid-template-columns: repeat(3, auto);
    }

    .sub-card {
        padding: 10px;
    }

    .sub-card img {
        min-width: 80px;
        max-width: 80px;
        min-height: 80px;
        max-height: 80px;
    }
}

/* ----------------------------------Desktop mode for Mobile Phone----------------------------------------- */

@media (max-width: 1075px) {
    .aboutUs-sub-card-container {
        grid-template-columns: repeat(3 , auto);    
    }

    #home {
        min-height: 100%;
    }

    #click-btn {
        margin-bottom: 25px;
    }
}