* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    scroll-behavior: smooth;
    font-family: Arial, sans-serif;
}

/* ---------------------------- Header -----------------------------------*/

header {
    position: fixed;
    top: 0;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: none;
    width: 100%;
}

/* ---------------------------- Nav Bar -----------------------------------*/

.menu-button, .menu-button-x {
    visibility: hidden;
}

nav ul {
    visibility: visible;
    padding-top: 10px;
    float: right;
}

li {
    list-style-type: none;
    display: inline-block;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 12px 25px;
    text-decoration: none;
    text-transform: uppercase;
}

li a:hover {
    transition: 0.2s;
    border-radius: 10px;
    transform: scale(1.2);
    z-index: 3;
}

/* ---------------------------- Home -----------------------------------*/

#home {
    padding: 200px 0 0 75px;
    color: white;
    text-transform: uppercase;
    background: url(../img/BackgroundFood.jpg); 
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

#home h1 {
    position: relative;
    padding-bottom: 5px;
    border-radius: 10px;
    animation: slideIn 1s ease;
}

#home p{
    position: relative;
    animation: slideIn 1s ease;
    padding-bottom: 5px;
}   

#click-btn {
    font-size: 1em;
    text-transform: uppercase;
    height: 50px;
    width: 150px;
    color: black; 
    border: 1px solid black;  
    border-radius: 10px; 
    cursor: pointer;
}

#click-btn:hover {
    background-color: #fb8500;
    color: white;
    transform: scale(1.1);
    transition: 0.2s;
}

/* ---------------------------- For Mobile -----------------------------------*/

@media (max-width: 480px) {
    
    /* ---------------------------- Responsive Navbar --------------------------*/
    .menu-button {
        margin-top: 10px;
        float: right;
        background: none;
        visibility: visible;
        border: none;
        color: white;
        font-size: 25px;
        cursor: pointer;
        padding: auto 50 50 10;   
        margin-right: 25px;
    }

    .menu-button-x {
        margin-top: 10px;
        visibility: hidden;
        float: right;
        background: none;
        border: none;
        color: white;
        font-size: 25px;
        cursor: pointer;
        margin-right: 25px;
    }

    nav ul {
        padding-top: 10px;
    }

    ul {
        display: none;
    }

    li { 
        list-style-type: none;
        display: block;
    }

    #home {
        padding: 200px 0 0 20px ;
    }
}


/* ---------------------------- Animation -----------------------------------*/

/* h1 and p animation */

@keyframes slideIn {
    from {left: 50px;}
    to {left: 0px;}
}

/* Navbar animation */

@keyframes expand {
    0%  {background-color: #fb8500;}
    100% {background-color: #fb8500;}
}