* {                         
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

/* ---------------------------- Header -----------------------------------*/

header {
    position: absolute;
    top: 0;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: none;
    width: 100%;
}

/* ---------------------------- Nav Bar -----------------------------------*/

.menu-button, .menu-button-x {
    visibility: hidden;
}

nav ul {
    visibility: visible;
    padding-top: 10px;
    float: right;
}

li {
    list-style-type: none;
    display: inline-block;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 12px 25px;
    text-decoration: none;
    text-transform: uppercase;
}

li a:hover {
    transition: 0.2s;
    border-radius: 10px;
    transform: scale(1.2);
    z-index: 3;
}

/* ---------------------------- Home -----------------------------------*/

#home {
    padding: 200px 0 0 70px;
    color: white;
    text-transform: initial;
    background: url(../img/BackgroundFood.jpg); 
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

#home h1 {
    position: relative;
    padding-bottom: 5px;
    border-radius: 10px;
    animation: slideIn 0.8s ease;
}

#home h5, p{
    position: relative;
    animation: slideIn 1s ease;
    padding-bottom: 5px;
}

#home span {
    color:#fb8500;
}

#click-btn {
    font-size: 1em;
    text-transform: initial;
    height: 50px;
    width: 150px;
    border: 1px solid white;  
    border-radius: 10px; 
    cursor: pointer;
}

#click-btn:hover {
    background-color: #fb8500;
    color: white;
    transform: scale(1.1);
    transition: 0.2s;
}

/* ----------------------------------For Mobile Phone----------------------------------------- */
@media (max-width: 650px) {
    
    /* ---------------------------- Responsive Navbar --------------------------*/

    header {
        background-color: #343a40;
        border-radius: 0 0 15px 15px;
    }

    .menu-button {
        margin-top: 3px;
        float: right;
        background: none;
        visibility: visible;
        border: none;
        color: white;
        font-size: 25px;
        cursor: pointer;
        padding: auto 50 50 10;
        margin-right: 12px;
    }

    .menu-button-x {
        margin-top: 3px;
        visibility: hidden;
        float: right;
        background: none;
        border: none;
        color: white;
        font-size: 25px;
        cursor: pointer;
        margin-right: 12px;
    }

    nav ul {
        background-color: #343a40;
        float: none;
    }

    ul {
        display: none;
    }
    
    li { 
        list-style-type: none;
        display: block;
    }

    .mHome {
        margin-top: 35px;
    }

    #home {
        padding: 85px 0 0 10px;
        background: url(../img/phoneBackgroundFoodX.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
}

/* ---------------------------- Animation -----------------------------------*/

/* h1 and p animation */

@keyframes slideIn {
    from {left: 50px;}
    to {left: 0px;}
}